<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="url" value="jdbc:mysql://localhost:3306/springico1"/>
<property name="username" value="root"/>
<property name="password" value="8249"/>
</bean>
<bean id="stuDAO" class="com.sb.dao.StudentDAOImpl">
<constructor-arg ref="drds"></constructor-arg>
</bean>
<bean id="stuService" class="com.sb.service.StudentOperationServiceImpl">
<constructor-arg ref="stuDAO"></constructor-arg>
</bean>
<bean id="stuController" class="com.sb.controller.MainController">
<constructor-arg ref="stuService"></constructor-arg>

</bean>
</beans>
